body{
  font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    margin: 0 auto;
    max-width: 90%;
  }
  .container div p{
    border-color:#6181bb;
    border-style: solid;
    color: #6181bb;

  }
  .lane {
    flex-basis: 33vw
  }

.progress{
  font-size: small;
  margin-bottom: 10px;
}

#activity{

  color: #6181bb;
  padding: 10px 10px 10px 10px;
 
}